{% extends 'main.html' %}

{% block content %}
<main class="layout">
  <div class="container">
    <div class="room">
      <div class="room__top">
        <div class="room__topLeft">
          <a href="{% url 'tasks' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
            Back
          </a>
        </div>
        <div class="room__topRight">
          {% if task.completed %}
          <span class="tag tag--pill tag--success">Completed</span>
          {% else %}
          <span class="tag tag--pill tag--warning">In Progress</span>
          {% endif %}
        </div>
      </div>

      <div class="room__box">
        <div class="room__header">
          <h1>{{ task.title }}</h1>
          {% if task.completed %}
            <p class="room__info">Completed at {{ task.completed_at|date:"M d, Y H:i" }}</p>
          {% elif task.due_date %}
            <p class="room__info">Due by {{ task.due_date|date:"M d, Y H:i" }}</p>
          {% endif %}
        </div>

        <div class="room__conversation">
          <div class="thread">
            <div class="thread__top">
              <div class="thread__author">
                <div class="avatar avatar--small">
                  <img src="{{ task.owner.avatar.url }}" />
                </div>
                <span>@{{ task.owner.username }}</span>
              </div>
              <div class="thread__details">
                Created {{ task.created|timesince }} ago
              </div>
            </div>
            <div class="thread__details">
              <p>{{ task.description }}</p>
            </div>
          </div>
        </div>

        <div class="room__meta">
          <div class="roomListRoom__meta">
            <div>
              <span class="tag tag--pill">Reward: {{ task.reward }} credits</span>
              <span class="tag tag--pill tag--secondary">Penalty: {{ task.penalty }} credits</span>
            </div>
          </div>
          {% if not task.completed and request.user == task.owner %}
          <div class="room__action">
            <a href="{% url 'complete-task' task.id %}" class="btn btn--main btn--pill">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>checkmark</title>
                <path d="M27 4l-15 15-7-7-5 5 12 12 20-20z"></path>
              </svg>
              Mark Complete
            </a>
            <a href="{% url 'fail-task' task.id %}" class="btn btn--dark btn--pill">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>close</title>
                <path d="M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z"></path>
              </svg>
              Mark Failed
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
